/**
 * Gridpak Beta SCSS 
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
/* Reusable column setup */
/* line 21, ../sass/core/gridpak.scss */
.col {
  border: 0px solid rgba(0, 0, 0, 0);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

/* 1. 6 Column Grid 0px - 379px 
----------------------------------------------------------------------------- 

Span 1:    15.0%
Span 2:    32.0%
Span 3:    49.0%
Span 4:    66.0%
Span 5:    83.0%
Span 6:    100%

----------------------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 379px) {
  /* line 52, ../sass/core/gridpak.scss */
  .col {
    margin-left: 2%;
    padding: 0 1.5px;
  }

  /* --- Gridpak variables ---*/
  /* line 65, ../sass/core/gridpak.scss */
  .row .col:first-child {
    margin-left: 0;
  }

  /*
  Add your semantic classnames in alongside their corresponding spans here. e.g.
  
  .span_3,
  .my_semantic_class_name {
      ...
  }
  
  */
  /* line 79, ../sass/core/gridpak.scss */
  .span_1 {
    width: 15%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 82, ../sass/core/gridpak.scss */
  .span_2 {
    width: 32%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 85, ../sass/core/gridpak.scss */
  .span_3 {
    width: 49%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 88, ../sass/core/gridpak.scss */
  .span_4 {
    width: 66%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 91, ../sass/core/gridpak.scss */
  .span_5 {
    width: 83%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 94, ../sass/core/gridpak.scss */
  .span_6 {
    margin-left: 0;
    width: 100%;
  }
}
/* 2. 6 Column Grid 380px - 779px 
----------------------------------------------------------------------------- 

Span 1:    15.0%
Span 2:    32.0%
Span 3:    49.0%
Span 4:    66.0%
Span 5:    83.0%
Span 6:    100%

----------------------------------------------------------------------------- */
@media screen and (min-width: 380px) and (max-width: 779px) {
  /* line 114, ../sass/core/gridpak.scss */
  .col {
    margin-left: 2%;
    padding: 0 1.5px;
  }

  /* --- Gridpak variables ---*/
  /* line 127, ../sass/core/gridpak.scss */
  .row .col:first-child {
    margin-left: 0;
  }

  /* line 132, ../sass/core/gridpak.scss */
  .span_1 {
    width: 15%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 135, ../sass/core/gridpak.scss */
  .span_2 {
    width: 32%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 138, ../sass/core/gridpak.scss */
  .span_3 {
    width: 49%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 141, ../sass/core/gridpak.scss */
  .span_4 {
    width: 66%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 144, ../sass/core/gridpak.scss */
  .span_5 {
    width: 83%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 147, ../sass/core/gridpak.scss */
  .span_6 {
    margin-left: 0;
    width: 100%;
  }
}
/* 3. 11 Column Grid 780px - Infinity 
----------------------------------------------------------------------------- 

Span 1:    7.27272727273%
Span 2:    16.5454545455%
Span 3:    25.8181818182%
Span 4:    35.0909090909%
Span 5:    44.3636363636%
Span 6:    53.6363636364%
Span 7:    62.9090909091%
Span 8:    72.1818181818%
Span 9:    81.4545454545%
Span 10:    90.7272727273%
Span 11:    100%

----------------------------------------------------------------------------- */
@media screen and (min-width: 780px) {
  /* line 172, ../sass/core/gridpak.scss */
  .col {
    margin-left: 2%;
    padding: 0 1.5px;
  }

  /* --- Gridpak variables ---*/
  /* line 185, ../sass/core/gridpak.scss */
  .row .col:first-child {
    margin-left: 0;
  }

  /* line 190, ../sass/core/gridpak.scss */
  .span_1 {
    width: 7.27273%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 193, ../sass/core/gridpak.scss */
  .span_2 {
    width: 16.54545%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 196, ../sass/core/gridpak.scss */
  .span_3 {
    width: 25.81818%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 199, ../sass/core/gridpak.scss */
  .span_4 {
    width: 35.09091%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 202, ../sass/core/gridpak.scss */
  .span_5 {
    width: 44.36364%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 205, ../sass/core/gridpak.scss */
  .span_6 {
    width: 53.63636%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 208, ../sass/core/gridpak.scss */
  .span_7 {
    width: 62.90909%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 211, ../sass/core/gridpak.scss */
  .span_8 {
    width: 72.18182%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 214, ../sass/core/gridpak.scss */
  .span_9 {
    width: 81.45455%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 217, ../sass/core/gridpak.scss */
  .span_10 {
    width: 90.72727%;
    border-left-width: 0;
    padding: 0 1.5px;
    margin-left: 2%;
  }

  /* line 220, ../sass/core/gridpak.scss */
  .span_11 {
    margin-left: 0;
    width: 100%;
  }
}
