section {
	&.beaker-row {
		position: relative;
		z-index: 0;

		img { height: auto; }

		&.beaker-set-one {

			.beaker-holder-container {
				position: relative;

				.beaker-holder.img {
					max-width: 200px;
				}

				.top-piece {

				}

				.stir.img {
					max-width: 20px;
				}	

			} // end beaker holder container --
			
			.beaker-container {			
				.beaker {
					img {
						&.beaker-container {
							max-width: 160px;
						}
						&.beaker-top {
							max-width: 68px;
						}
					}
				}

				.beaker-contents.img {
					max-width: 145px;
				}
			}

			.table {
				max-width: 705px;
			}

		} // end beaker set one row

	} // end beaker row
} // end section