///////////////////////////////////////////////////////
// Color Palette
//////////////////////////////////////////////////////	

$slate : #BAD7D4;
$teal : #22BDAF;
$grey : #3D3C3E;
$red : #F10025;

$offWhite : #e7e6e6;
$white : #FFF;
$black : #000;

