///////////////////////////////////////////////////////
// Beaker Set Three
//////////////////////////////////////////////////////	

.section {
	&.beaker-row {
		position: relative;
		overflow: hidden;
		z-index: 0;


		&.beaker-set-three {

			.beaker-holder {
				
			}

		}

	}
}