.outer-header {
	background: $offWhite;
	border-bottom: 3px solid $red;
	position: relative;
	height: 105px;
	width: 100%;
	z-index: 2;
	.header {
		padding-top: 5px;

		aside.logo {
			&.col.span_6 {
				border-left-width: 0;
			}
			width: percentage(190/960);
			max-width: percentage(300/960);
		}

		aside.nav-outer {
			float: right;
			margin-top: 25px;
			ul {
				overflow: hidden;
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					max-width: 145px;
					float: right;
					a {
						background: $slate;
						color: $grey;
						display: block;
						font-family: $sun;
						@include font-size(24, 18);
						padding: 15px;
						text-align: center;
						height: inherit;
					}
				}
			}
		}

		.inner-wrapper { width: 100%!important; }
		
	}

}