///////////////////////////////////////////////////////
// Homepage
//////////////////////////////////////////////////////	

img.home-divider {
	 margin: 0 25px 45px 0;
	 @include max-screen(500px){
	 	margin: 0 45px 0 0;
	 }
}

section {

	.col:first-child {

		border-left-width: 0;
		@include max-screen(1133px){
			border-left-width: 80px;
		}
	}

	&.top {	
		background: #3D3C3E;
		box-shadow: 1px 1px 3px #333;
		min-height: 380px;
		position: relative;


		.intro {
			border-left-width: 180px;
			padding: 25px 25px 0 percentage(10/960);
			margin-top: 25px;

			img.cross {
				position: absolute;
				height: auto;
				left: 160px;
				top: -31px;
				margin-left: 51px;
				width: 425px;
				z-index:0;			
				
				@include max-screen(740px){
					top: -31px;
					left: 95px;
				}						

				@include max-screen(417px){
					width: 314px;
				}						

			}
			
			@include max-screen(740px){
				margin-top: 0;
			}

			@include max-screen(730px){
				border-bottom: 1px solid #666;
				float: none;
				padding-bottom: 15px;
				margin: 0 0 25px 0;
				width: 100%;
			}

			h1 {
				color: $slate;
				@include font-size(25, 32);
				font-family: $baseFont;
				text-shadow: 1px 1px 1px #333;
				left: 255px;
				margin-top: 0;		
				padding-bottom: 15px;
				position: relative;
				top: -42px;		
				width: 153px;
				z-index: 1;		
				
				
				@include max-screen(740px){
					left: 195px;
					top: -19px;
				}

				@include max-screen(417px){
					left: 130px;
					top: -16px;
					width: 130px;
					@include font-size(16, 32);
				}				

			}

			p {
				color: $grey;
				@include font-size(20, 32);
				font-family: $baseFont;
				font-weight: bold;
				position: relative;
				left: 52px;
				margin-top: 0!important;
				top: -30px;
				width: 150px;
				z-index: 1;
				
				a {
					border-bottom: 1px dashed $red;
					color: $teal;
				}
				

				@include max-screen(740px){
					top: -10px;
					left: -10px;
				}

				@include max-screen(417px){
					@include font-size(15, 24);
					top: -4px;
					left: -21px;
					text-align: right;
					width: 125px;
				}				

			}
		}
			
		.recipe {
			margin: 140px 0 0 0;		
			z-index: 2;
			padding-right: percentage(30/960);
			@include max-screen(730px){
				border-left-width: 186px;				
				padding: 0px;
				margin-top: 0;
				width: 100%;
			}			
			@include max-screen(682px){
				padding-right: 35px;
			}
			h1 {
				font-family: $sun;
				color: $white;
				@include font-size(32, 36);
				text-shadow: 1px 1px 1px #333;
				text-align: right;
				margin: 0;
				span.teal { color: $teal; }

				@include max-screen(730px){
					@include font-size(22, 22);
					text-align: left;
				}

				@include max-screen(390px){
					@include font-size(18, 18);
				}

			}
			h1.hidden { 
				display: none; 
				@include max-screen(730px){
					color: $slate;
					display: block;
					margin-top: 20px;
					margin: 20px 0 25px 0;
					@include font-size(17, 17);					
				}
				@include max-screen(320px){
					@include font-size(14, 14)
				}
			}
		}
	} // end top

	&.bottom {	
		position: relative;
		z-index: 1;

		@include max-screen(730px){
			margin-top: 0;
		}
		
		.callouts {
			&.inner-wrapper { overflow: visible; }


			.callout {
				padding: percentage(10/960) percentage(25/960) percentage(25/960) percentage(25/960);
				a { @extend .button; }
				&.the-doctor {
					background: $teal;
					margin-top: -10px;
					h1 {
						border: 1px dashed $slate;
						display: block;
						padding: 10px;
						margin-top: 15px;
						@include font-size(28, 28);
						color: #FFF;
						text-shadow: 1px 1px 1px #13897A;						
					}
					p {
						color: $offWhite;
						@include font-size(14, 24);
						text-shadow: 1px 1px 1px #13897A;
					}
					@include max-screen(960px){
						border-left-width: 110px;

					}						
					@include max-screen(913px){
						border-left-width: 140px;

					}							
					@include max-screen(913px){
						border-left-width: 140px;

					}					
					@include max-screen(832px){
						border-left-width: 170px;

					}					
					@include max-screen(832px){
						border-left-width: 170px;

					}							
					@include max-screen(730px){
						border-left-width: 80px;
						float: none;
						margin-top: 0;
						padding-left: 100px;
						width: 100%;

					}					
				}
				&.scroll-now {
					margin-top: 80px;
					@include max-screen(805px){
						border-left-width: 0;
					}	
					@include max-screen(730px){
						display: none;
					}					
					h1 {
						color: $grey;
						display: block;
						font-family: $sun;
						@include font-size(32, 36);
						margin-top: 15px;
						padding-left: 15px;
						width: 350px;
						@include max-screen(805px){
							width: 100%;	
							text-align: center!important;						
						}
					}
					img {
							display: block;
							float: left;
							margin-top: 10px;
							padding-right: 20px;
							width: 90px;
							@include max-screen(805px){
								float: none;
								margin: 0 auto;
								padding-right: 0;
							}
						}

				}
				
			}
		}

	} // end bottom

} // end row