///////////////////////////////////////////////////////
// Inner Styles
//////////////////////////////////////////////////////

section.inner-page {

	div.top-inner-title {
		background: #3D3C3E;
		box-shadow: 1px 1px 3px #333;
		height: 70px;

		// height: 70px;

		h1 {
			background: #22BDAF;
			box-shadow: -1px 1px 1px #555;
			color: #e7e6e6;
			@include font-size(34, 39);
			margin-top: 30px;
			padding: 15px;
			position: relative;
			width: 450px;
			@include max-screen(479px){
				background: inherit;
				margin-top: 0;
				width: 100%;

			}
		}

	} // end inner title

	.outer-content {
		margin-top: 70px;

		&.about {
			margin-top: 130px;
			@include max-screen(480px){
				margin-top: 80px;
			}

			p {
				text-shadow: 1px 2px 1px $white;
			}
			a.button {
				width: percentage(200/960);
			}
		}

		.sub-header {
			border-bottom: 1px solid $slate;
			padding-bottom: 25px;
			margin: 75px 0 50px 75px;

			@include max-screen(945px){
				padding: 25px;
				margin-top: 0;
			}

			p {
				@include font-size(16, 36);
				letter-spacing: 0.05em;
				text-transform: uppercase;
				text-shadow: 1px 2px 1px $white;
			}
		}

		.inner-wrapper {
			width: 100%;
			a.button {
				width: 30%;
			}
			.sub-content {
				margin-left: 75px;
				@include max-screen(945px){
					padding: 0 25px 25px 25px;
				}

				@include max-screen(670px){
					a.button {
						width: 80%;
					}
				}
				@include max-screen(340px){
					a.button {
						width: 100%;
					}
				}
				
				.container.col.span_12 {
					border-left-width: 0;
				}
			}




		} // end inner wrapper

	}// end outer content

} // end inner page
