///////////////////////////////////////////////////////
// Inner Styles
//////////////////////////////////////////////////////	

section.inner-page {

	div.top-inner-title {
		background: #3D3C3E;
		box-shadow: 1px 1px 3px #333;	
		height: 70px;

		// height: 70px;

		h1 {
			background: #22BDAF;
			box-shadow: -1px 1px 1px #555;
			color: #e7e6e6;
			@include font-size(34, 39);
			margin-top: 30px;
			padding: 15px;
			position: relative;
			width: 450px;
			@include max-screen(479px){
				background: inherit;
				margin-top: 0;
				width: 100%;

			}
		}

	} // end inner title

	.outer-content {
		margin-top: 70px;

		&.about {
			margin-top: 130px;
			
			p {
				text-shadow: 1px 2px 1px $white;
			}
			a.button {
				width: percentage(200/960);
			}
		}
		.sub-header {
			border-bottom: 1px solid $slate;
			padding-bottom: 25px;
			margin: 75px 0 50px 75px;
			@include max-screen(945px){
				padding: 25px;
				margin-top: 0;
			}
			p {
				@include font-size(16, 36);
				letter-spacing: 0.05em;
				text-transform: uppercase;
				text-shadow: 1px 2px 1px $white;				
			}
		}

		.inner-wrapper {
			width: 100%;

			.sub-content {
				margin-left: 75px;
				@include max-screen(945px){
					padding: 0 25px 25px 25px;
				}
				// Projects
				ul {
					overflow: hidden;
					padding: 0;
					li {
						&.item {
							background: $white;
							border: 1px solid $teal;
							-webkit-box-shadow: inset 0px -1px 10px $slate;
							-moz-box-shadow: inset 0px -1px 10px $slate;
							-msie-box-shadow: inset 0px -1px 10px $slate;
							float: left;
							margin: 0 percentage(25/960) percentage(25/960) 0;
							width: percentage(300/960);
							height: auto;
							max-height: 300px;
							max-width: 300px;
							@include max-screen(645px){
								float: none;
								max-width: 100%;
								max-height: 100%;
								width: 98%;
								margin: 25px 0 25px 5px;
								&:first-child {
									margin-top: 0;
								}
							}
							@include max-screen(370px){
								width: 97%;
							}
							&:hover {
								border-color: $grey;
							}
							img {
								display: block;
								margin: percentage(50/960) auto percentage(51/960);
								width: 80%;
								height: auto;
							}
							span { display: none; }
						}					
					
						&:nth-child(3n+3) {
							margin-right: 0;
						}
						


						list-style: none;
						padding: 0;
						margin: 0;
					}
				}
			
			}


		} // end inner wrapper 

	}// end outer content

} // end inner page

